<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book - Search By Id</title>
</head>
<body th:object="${book}">
    <p>Book id:</p>
    <p th:text="*{bookId}"></p>
    <br>
    <p>Title:</p>
    <p th:text="*{title}"></p>
    <br>
    <p>Author:</p>
    <p th:text="*{author}"></p>
    <br>
    <img th:src="*{imageUrl}">
    <br>
    <a href="/">Do a new search!</a>
</body>
</html>